.itemlist {
  &__item {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    padding-top: 10px;
    &:first-of-type {
      border-top: 1px solid #dedede;
    }
  }
  &__title {
    font-size: 12px;
  }
  &__hhlink {
    color: #09f;
  }
  &__salary {
    font-size: 14px;
  }
  &__salary-currency {
    display: inline-block;
    font-size: 8px;
    margin-left: 4px;
  }
  &__company {
    font-size: 10px;
  }
  &__actions {
    display: flex;
    margin-top: 10px;
  }
}
