.vacancy-detail {
  &__title {
    font-size: 12px;
  }
  &__title-link {
    color: $color-dark;
    font-weight: 600;
  }
  &__hhlink {
    color: #09f;
    cursor: pointer;
    margin-left: 5px;
  }
  &__salary {
    font-size: 14px;
  }
  &__salary-currency {
    display: inline-block;
    font-size: 8px;
    margin-left: 4px;
  }
  &__company {
    font-size: 10px;
  }
  &__actions {
    display: flex;
    margin-top: 10px;
  }
}
