.vacancy-detail {
  &--overlay {
    bottom: 10px;
    display: flex;
    flex-direction: column;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &__title {
    font-size: 12px;
  }
  &__title-link {
    color: $color-dark;
    font-weight: 600;
  }
  &__hhlink {
    color: #09f;
    cursor: pointer;
    margin-left: 5px;
  }
  &__salary {
    font-size: 14px;
  }
  &__salary-currency {
    display: inline-block;
    font-size: 8px;
    margin-left: 4px;
  }
  &__company {
    font-size: 10px;
  }
  &__description-wrapper {
    flex-grow: 1;
    position: relative;
  }
  &__description {
    background: #f0f0f0;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
    @extend .custom-html;
  }
  &__actions {
    display: flex;
    margin-top: 10px;
  }

  &__date-item {
    display: flex;
  }
  &__date-icon {
    margin-right: 5px;
  }
}
